@import '../../sass/variables';
@import '../../sass/buttons';

.header {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  height: $tamanho-header;
  background-color: $primary-color;

  &-content{
  }

  &-title{
    left: 0;
    bottom: 0;
    padding-left: 1rem;
    color: $text-title-color;
    font-size: 2rem;
    font-weight: 600;
    width: fit-content;
    float: left;
  }

  &-menu{

    &-list{
      float: left;
      list-style-type: none;
      margin-top: 2.8rem;
    }

    &-item{
      font-size: 1.2rem;
      padding: inherit;
      float: left;
      cursor: pointer;

      a {
        color: $text-title-color;
        text-decoration: none;
      }

      &:hover {
        opacity: 0.3;
      }

    }

  }

  &-login{
    float: left;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    background-color: $text-title-color;
    transition: 0.5s;

    &:hover{
      background-color: $fourth-color;
      border-left: 5px solid #000;
      color: #000;
    }

    &-button {
      padding: 2rem;
      display: inline-block;
    }

  }

}
