@import '../../sass/variables';

.header {
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  height: 90px;
  background-color: $primary-color;

  &-content{
  }

  &-title{
    left: 0;
    bottom: 0;
    padding-left: 1rem;
    color: $text-title-color;
    font-size: 2rem;
    font-weight: 600;
    width: fit-content;
    float: left;
  }

  &-menu{

    &-list{
      float: left;
      list-style-type: none;
      margin-top: 2.8rem;
    }

    &-item{
      font-size: 1.2rem;
      padding: inherit;
      float: left;
      cursor: pointer;

      a {
        color: $text-title-color;
        text-decoration: none;
      }

      &:hover {
        opacity: 0.3;
      }

    }

  }

}
