@import url(https://fonts.googleapis.com/css?family=Poppins:100,400);

$font: 'Poppins', sans-serif;
$primary-color: #232b2b;
$secondary-color: #3b444b;
$third-color: #c7bbc9;
$fourth-color: #d8b7cf;
$text-title-color: #b2cbd0;
$tamanho-header: 90px;
$cor-fundo: #fff;
